# Python
venv/
__pycache__/
*.pyc

# Node
node_modules/
dist/

# .NET
**/bin/
**/obj/

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
code.ipynb

# Data
Data/ai_predictions_2017_2018.csv
Data/AEP_hourly.csv
Data/AEP_hourly_until_2016.csv

#Frontend
Frontend/.vscode
